<template>
	<h4 class="example">{{msg}}</h4>
	<component-a></component-a>
	<component-b></component-b>
</template>

<script>
	export default {
		data(){
			return{
				msg: 'hello'
			}
		},
		components: {
			"component-a": require("./componentA.vue"),
			"component-b": require("./componentB.vue")
		}
	}
</script>

<style scoped>
	.example:after{
		content: ' world';
	}
</style>

