<template>
	<h4>{{msg}}</h4>
</template>

<script>
	export default {
		data(){
			return{
				msg: 'here comes a vue-loader example'
			}
		}
	}
</script>

<style lang="sass" scoped>
	$color: blue;
	h4 {
		color: $color;
	}
</style>