<template>
	<h4>{{msg}}</h4>
</template>

<script>
	export default {
		data(){
			return{
				msg: 'this is bigben15'
			}
		}
	}
</script>

<style lang="sass" scoped>
	$color: red;
	h4{
		color: $color;
	}
</style>